* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container-fluid {
  width: 100%;
  padding: 0;
}

.container-fluid header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 94px;
  background-color: #2699fb;
}

.container-fluid header nav {
  width: 100%;
  padding: 0 0.75em;
}

.container-fluid header nav section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-fluid header nav section h1 {
  color: #fff;
}

.container-fluid header nav section button#menu, .container-fluid header nav section div#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: auto;
  width: 57px;
  height: 36px;
}

.container-fluid header nav section button#menu span.menu-span, .container-fluid header nav section div#menu span.menu-span {
  width: 100%;
  height: 4px;
  background-color: #fff;
  display: block;
}

.container-fluid header nav span {
  color: #fff;
}

.container-fluid header nav ul#navigation {
  display: none;
}

.container-fluid section#section-one {
  margin-top: 3em;
  padding: 0 0.75em;
}

.container-fluid section#section-one h3 {
  color: #7f7f7f;
}

.container-fluid section#section-one p {
  margin-top: 0.75em;
  color: #2699fb;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
}

.container-fluid section#section-one button#shop {
  margin-top: 3.5em;
  padding: 1em 2.5em;
  background-color: transparent;
  color: #2699fb;
  border: solid #bce0fd 2px;
  border-radius: 4px;
}

.container-fluid section#section-one img {
  margin: 2.5em 0 5.5em 0;
  width: 100%;
  height: auto;
  text-align: center;
  margin-left: 0.35em;
}

.container-fluid section#section-two {
  background-color: #f1f9ff;
  padding: 1.5em 0.75em 5em 0.75em;
}

.container-fluid section#section-two p#section-two-p1 {
  color: #2699fb;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  margin-bottom: 0.75em;
}

.container-fluid section#section-two p#section-two-p2 {
  padding-top: 0.75em;
  color: #2699fb;
  font-size: 0.75em;
  word-spacing: 2px;
  line-height: 1.5em;
}

.container-fluid section#section-three {
  margin-top: 3em;
  padding: 0 0.75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-fluid section#section-three img {
  margin: 0.5em 0;
}

.container-fluid section#section-four {
  margin-top: 1em;
  padding: 0 0.75em;
}

.container-fluid section#section-four .section-four-content {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2em;
}

.container-fluid section#section-four .section-four-content header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

.container-fluid section#section-four .section-four-content header img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container-fluid section#section-four .section-four-content header .name {
  color: #2699fb;
  margin-left: 1em;
  font-family: "Roboto", sans-serif;
  font-size: 0.75em;
}

.container-fluid section#section-four .section-four-content header .time {
  color: #7f7f7f;
  font-size: 0.65em;
  margin-left: auto;
}

.container-fluid section#section-four .section-four-content p {
  font-size: 0.65em;
  color: #7f7f7f;
  line-height: 2em;
  margin-bottom: 2.5em;
}

.container-fluid section#section-four .section-four-content figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-fluid section#section-four .section-four-content footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
}

.container-fluid section#section-four .section-four-content footer .footer-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -1em;
  margin-right: 2em;
}

.container-fluid section#section-four .section-four-content footer .footer-child svg {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  margin-left: 0.5em;
}

.container-fluid section#section-four .section-four-content footer .footer-child .name {
  color: #2699fb;
  font-family: "Roboto", sans-serif;
  font-size: 0.75em;
}

.container-fluid section#section-four .section-four-content footer .name {
  color: #2699fb;
  font-family: "Roboto", sans-serif;
  font-size: 0.75em;
}

.container-fluid section#section-four .section-four-content footer .share {
  margin-left: auto;
}

.container-fluid section#section-four .section-four-content footer #Icon_awesome-heart,
.container-fluid section#section-four .section-four-content footer #Icon_awesome-minus-square {
  fill: #2699fb;
}

.container-fluid #section-five {
  background: #bce0fd;
  padding: 1.5em 1em;
}

.container-fluid #section-five #section-five-div {
  background: #fff;
  padding: 1em;
}

.container-fluid #section-five #section-five-div h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 36px;
  color: #7f7f7f;
  margin-bottom: 0.5em;
}

.container-fluid #section-five #section-five-div p#section-five-div-p1 {
  color: #7f7f7f;
  font-size: 1.75em;
  font-weight: lighter;
  margin-bottom: 1.25em;
}

.container-fluid #section-five #section-five-div p {
  font-size: 0.65em;
  color: #2699fb;
  line-height: 2em;
}

.container-fluid #section-five #section-five-div #section-five-div-p2 {
  margin-bottom: 1.5em;
}

.container-fluid #section-five #section-five-div #section-five-div-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-fluid #section-five #section-five-div #section-five-div-div .section-five-div-div-section {
  width: 70%;
  height: 140px;
  background: #f1f9ff;
  margin: 0.25em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container-fluid #section-five #section-five-div #section-five-div-div .section-five-div-div-section p:first-child {
  font-weight: bold;
  font-size: 1.15em;
  font-family: "Roboto", sans-serif;
}

.container-fluid #section-five #section-five-div #section-five-div-div .section-five-div-div-section p:first-child span {
  font-weight: normal;
  font-size: 0.75em;
  display: block;
  margin-top: -1em;
}

.container-fluid #section-five #section-five-div #section-five-div-div .section-five-div-div-section p:last-child #Path_1,
.container-fluid #section-five #section-five-div #section-five-div-div .section-five-div-div-section p:last-child #Path_2,
.container-fluid #section-five #section-five-div #section-five-div-div .section-five-div-div-section p:last-child #Path_3 {
  stroke: #2699fb;
  fill: #fff;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.container-fluid #footer {
  background: #2699fb;
  padding: 1.5em 1em;
  color: #fff;
}

.container-fluid #footer h1 {
  font-size: 1.17em;
}

.container-fluid #footer p {
  text-align: center;
}

.container-fluid #footer form {
  border: 1px solid #fff;
  margin: 0.5em auto 2em auto;
  height: 50px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.25em;
}

.container-fluid #footer form input {
  border: none;
  background: transparent;
  width: 75%;
  height: 100%;
}

.container-fluid #footer form button {
  color: #2699fb;
  background: #fff;
  padding: 0 2em;
  border: none;
  height: 100%;
  width: 25%;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.container-fluid #footer section {
  margin: 1.25em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-fluid #footer section ul {
  list-style: none;
  line-height: 1.5em;
}

.container-fluid #footer section ul:first-child {
  width: 70%;
}

.container-fluid #footer section ul:last-child {
  width: 30%;
}

.container-fluid #footer address {
  font-style: normal;
  line-height: 1.5em;
}

.container-fluid #footer #footer-copy {
  font-size: 0.65em;
  display: inline-block;
  margin-top: 2em;
}

/* wrap each face image into a figure*/
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .container-fluid header nav {
    margin-top: 1em;
    padding: 0 3em;
  }
  .container-fluid header nav ul#navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container-fluid header nav section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container-fluid header nav section h1,
  .container-fluid header nav section div#menu {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    display: none;
  }
  .container-fluid header nav span#adobe {
    position: relative;
    display: inline-block;
    left: 95px;
    top: -27px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    font-weight: 600;
  }
  .container-fluid section#section-one {
    padding: 0;
    margin: 3em 100px 0 100px;
  }
  .container-fluid section#section-one h3,
  .container-fluid section#section-one p,
  .container-fluid section#section-one button#shop,
  .container-fluid section#section-one img {
    margin-left: 20px;
  }
  .container-fluid section#section-two {
    padding: 6em;
  }
  .container-fluid section#section-two p#section-two-p2 {
    font-size: 0.85em;
    line-height: 1.75em;
  }
  .container-fluid section#section-three {
    padding: 0;
    margin: 0 auto;
    min-width: 1024px;
    max-width: 1366px;
    min-height: 1024px;
    max-height: 1366px;
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    row-gap: 0px;
        grid-template-areas: "one two three" "four five six" "seven seven six";
  }
  .container-fluid section#section-three img {
    width: 100%;
    height: 100%;
  }
  .container-fluid section#section-three img:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: one;
  }
  .container-fluid section#section-three img:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: two;
  }
  .container-fluid section#section-three img:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: three;
  }
  .container-fluid section#section-three img:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: four;
  }
  .container-fluid section#section-three img:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: five;
  }
  .container-fluid section#section-three img:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: six;
  }
  .container-fluid section#section-three img:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: seven;
  }
  .container-fluid section#section-four {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */