* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  #container {
      height: 100vh;
      background: black;
      padding: 0;
      position: relative;
      z-index: 1;
      header {
        background: #FFF;
    }
  }

  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: end;
    }
  }

  @media (max-width: 992px) {
    .show, .collapsing {   
        .navbar-nav {
            height: 100vh;
        .nav-item {
            margin: 1em 1.5em !important;
        }
    }
    }
  }
